body {
    background-image: url(banner.png);
    background-repeat: no-repeat;
    background-color: #1E202B !important;
    height: 100vh;
}

nav {
    background-color: #1E202B !important;
    
}

nav a {
    color: white !important;
}